@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-inter), sans-serif;
  background-color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}